@model List<SettingItemVM>

<table class="table table-dark" id="data-Table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Update</th>

        </tr>
    </thead>
    <tbody>
        @foreach (SettingItemVM item in Model)
        {

            <tr>
                <th>@item.id</th>
                <th>
                    <img width="200" src="~/@item.ImagePath" />
                </th>
                <th><a asp-action="Update" asp-controller="SliderIMG" asp-route-id="@item.id">Update</a></th>
            </tr>
        }

    </tbody>
</table>